/*@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,600);*/
body {
            font: 10px sans-serif;
            shape-rendering: crispEdges;
        }

        .day {
            fill: #fff;
            stroke: #ccc;
        }

        .month {
            fill: none;
            stroke: #000;
            stroke-width: 2px;
        }

        .RdYlGn .q0-11 {
            fill: rgb(165,0,38);
        }

        .RdYlGn .q1-11 {
            fill: rgb(215,48,39);
        }

        .RdYlGn .q2-11 {
            fill: rgb(244,109,67);
        }

        .RdYlGn .q3-11 {
            fill: rgb(253,174,97);
        }

        .RdYlGn .q4-11 {
            fill: rgb(254,224,139);
        }

        .RdYlGn .q5-11 {
            fill: rgb(255,255,191);
        }

        .RdYlGn .q6-11 {
            fill: rgb(217,239,139);
        }

        .RdYlGn .q7-11 {
            fill: rgb(166,217,106);
        }

        .RdYlGn .q8-11 {
            fill: rgb(102,189,99);
        }

        .RdYlGn .q9-11 {
            fill: rgb(26,152,80);
        }

        .RdYlGn .q10-11 {
            fill: rgb(0,104,55);
        }

/*
    body {
    font-family: "Source Code Pro", Consolas, monaco, monospace;
    line-height: 1.5;
  font-weight: 400;
}
.day {
  fill: #fff;
  stroke: black;
  stroke-width: .5px;
}
.month {
  fill: none;
  stroke: white;
  stroke-width: 1px;
}
.year-title {
  font-size: 18px;
  letter-spacing: 10px;
  fill: #00B0DD; 
}
#info {
  position: absolute;
  top: 10px;
  left: 40px;
  font-size: 13px;
}
header {
  position: fixed;
  left: 0;
  top: 0;
  height: 33px;
  width: 100%;
  background: #ffff00;
  opacity: 0.9;
  z-index: 22;
  background: #00B0DD;
  color: white;
}
#heatmap {
  padding-top: 30px;
}
svg text { 
  font-size: 11px;
  text-transform: uppercase;
  fill: #00B0DD;
}
    */